# -*- mode: gitignore; -*-
# Files to ignore for .emacs.d repo

# https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

##---
## General Emacs things
##---
*~
\#*\#
*.elc
.\#*

##---
## Auto-gen, packages, etc.
##---

# emacs auto-save
/auto-save-list/
/backups/
/savehist

# package.el repository
/elpa/

# server/daemon
/server/

##---
## Misc
##---
test.txt
*.bat

##---
## Inspiration
##---
/spydez/references/
