# -*- mode: gitignore; -*-
# Files to ignore for .emacs.d repo

# https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

##---
## General Emacs things
##---
*~
\#*\#
*.elc
.\#*

##---
## Auto-gen, packages, etc.
##---

# emacs auto-save
/auto-save-list/
/backups/
/savehist

# package.el repository
/elpa/

# emacs... processes?
/server/
/eshell/

# packages:
/xkcd
/recentf
/url
/projectile-bookmarks.eld

##---
## Misc
##---
test.txt
*.bat

##---
## Inspiration
##---
# Ignore almost everything right now...
/spydez/references/*

# But don't ignore the rest...
#   (negate ignore pattern first for my dir)
!/spydez/references/my-old-emacs/
#   (now un-ignore desired refs (the files in my dir)
!/spydez/references/my-old-emacs/*

#...But do ignore these...
/spydez/references/my-old-emacs/old-snippets/c++-mode/*
