# -*- mode: gitignore; -*-
# Files to ignore for .emacs.d repo

# https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

*~
\#*\#
*.elc

##---
## Auto-gen, packages, etc.
##---

# emacs auto-save
/auto-save-list/

# package.el repository
/elpa/

##---
## Misc
##---

*.bat
