[submodule "packages/submodules/spotify"]
	path = packages/submodules/spotify
	url = git@github.com:spydez/spotify.el.git
[submodule "packages/submodules/org-roam"]
	path = packages/submodules/org-roam
	url = git@github.com:cole-brown/org-roam.git
